<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Todo App</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <p class="text-danger">Test</p>
    <div class="container my-2">
        <table>
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</body>

</html>